@model SitefinityWebApp.Mvc.Models.AdHocListModel

<div class="sfContentBlock">

    <h2>
        @Model.ListTitle
    </h2>

    @if (Model.ListType == SitefinityWebApp.Mvc.Models.AdHocListModel.BulletsListType)
    {
        @:<ul>
    }
    else
    {
        @:<ol>
    }

    <li>Item 1</li>
    <li>Item 2</li>

    @if (Model.ListType == SitefinityWebApp.Mvc.Models.AdHocListModel.BulletsListType)
    {
        @:</ul>
    }
    else
    {
        @:</ol>
    }

</div>
