@model SitefinityWebApp.Mvc.Models.AdHocListModel

<div class="sfContentBlock">

    <h2>
        @Model.ListTitle
    </h2>

    @if (Model.ListType == SitefinityWebApp.Mvc.Models.AdHocListModel.BulletsListType)
    {
        @:<ul>
    }
    else
    {
        @:<ol>
    }

    @foreach (var listItem in Model.ListItems)
    {
        <li>@listItem</li>
    }

    @if (Model.ListType == SitefinityWebApp.Mvc.Models.AdHocListModel.BulletsListType)
    {
        @:</ul>
    }
    else
    {
        @:</ol>
    }

</div>
