@using System.Web.Optimization;

@{
    this.ViewBag.Styles.Add(Styles.Render("~/Styles/Designer"));
    this.ViewBag.Scripts.Add(Scripts.Render("~/Scripts/Designer"));
}

<div class="mvc-designer">

    <ul class="nav nav-pills" id="adhoc-list-designer-tab">
        <li class="active">
            <a href="#list-items" data-toggle="tab">List items</a>
        </li>
        <li>
            <a href="#list-settings" data-toggle="tab">List settings</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="list-items" style="height:300px;">
            <ul id="sortable-list">
                <li><button class="btn btn-mini"><i class="icon-pencil"></i></button> <button class="btn btn-mini"><i class="icon-remove-circle"></i></button> List item 1</li>
                <li><button class="btn btn-mini"><i class="icon-pencil"></i></button> <button class="btn btn-mini"><i class="icon-remove-circle"></i></button> List item 2</li>
                <li><button class="btn btn-mini"><i class="icon-pencil"></i></button> <button class="btn btn-mini"><i class="icon-remove-circle"></i></button> List item 3</li>
                <li>
                    <div class="form-inline">
                        <input type="text" name="newListItem" id="newListItem" placeholder="Enter new list item..." />
                        <button class="btn">Add</button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="tab-pane" id="list-settings" style="height:300px;">
            
            <label>List title</label>
            <input id="list-title" name="listTitle" type="text" />

            <label>List type</label>

            <label class="radio">
                <input type="radio" name="listType" value="@SitefinityWebApp.Mvc.Models.AdHocListModel.NumbersListType" checked>
                Numbers
            </label>
            <label class="radio">
                <input type="radio" name="listType" value="@SitefinityWebApp.Mvc.Models.AdHocListModel.BulletsListType">
                Bullets
            </label>


        </div>
    </div>

</div>
