<?xml version="1.0" encoding="utf-8"?>
<contentViewConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<contentViewControls>
		<contentViewControl definitionName="ProfileType_SitefinityProfile">
			<views>
				<view viewName="ViewFrontendCreate">
					<sections>
						<sections name="CustomFieldsSection">
							<fields>
								<field rows="1" id="postsCountField" dataFieldName="PostsCount" displayMode="Write" wrapperTag="Li" title="PostsCount" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField" resourceClassId="ForumsResources" hidden="True" fieldName="PostsCount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="isPublicProfileField" dataFieldName="IsProfilePublic" displayMode="Write" wrapperTag="Li" title="IsProfilePublic" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField" resourceClassId="ForumsResources" hidden="False" fieldName="IsProfilePublic" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element enabled="False" selected="False" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
						</sections>
					</sections>
				</view>
				<view viewName="ViewFrontendEdit">
					<sections>
						<sections name="CustomFieldsSection">
							<fields>
								<field rows="1" id="postsCountField" dataFieldName="PostsCount" displayMode="Write" wrapperTag="Li" title="PostsCount" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField" resourceClassId="ForumsResources" hidden="True" fieldName="PostsCount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="isPublicProfileField" dataFieldName="IsProfilePublic" displayMode="Write" wrapperTag="Li" title="IsProfilePublic" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField" resourceClassId="ForumsResources" hidden="False" fieldName="IsProfilePublic" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element enabled="False" selected="False" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
						</sections>
					</sections>
				</view>
				<view viewName="ViewFrontendView">
					<sections>
						<sections name="CustomFieldsSection">
							<fields>
								<field rows="1" id="postsCountField" dataFieldName="PostsCount" displayMode="Write" wrapperTag="Li" title="PostsCount" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField" resourceClassId="ForumsResources" hidden="True" fieldName="PostsCount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="isPublicProfileField" dataFieldName="IsProfilePublic" displayMode="Write" wrapperTag="Li" title="IsProfilePublic" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField" resourceClassId="ForumsResources" hidden="False" fieldName="IsProfilePublic" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element enabled="False" selected="False" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
						</sections>
					</sections>
				</view>
				<view viewName="ViewBackendCreate">
					<sections>
						<sections name="CustomFieldsSection">
							<fields>
								<field rows="1" id="postsCountField" dataFieldName="PostsCount" displayMode="Write" wrapperTag="Li" title="PostsCount" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField" resourceClassId="ForumsResources" hidden="True" fieldName="PostsCount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="isPublicProfileField" dataFieldName="IsProfilePublic" displayMode="Write" wrapperTag="Li" title="IsProfilePublic" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField" resourceClassId="ForumsResources" hidden="False" fieldName="IsProfilePublic" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element enabled="False" selected="False" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
						</sections>
					</sections>
				</view>
				<view viewName="ViewBackendEdit">
					<sections>
						<sections name="CustomFieldsSection">
							<fields>
								<field rows="1" id="postsCountField" dataFieldName="PostsCount" displayMode="Write" wrapperTag="Li" title="PostsCount" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField" resourceClassId="ForumsResources" hidden="True" fieldName="PostsCount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="isPublicProfileField" dataFieldName="IsProfilePublic" displayMode="Write" wrapperTag="Li" title="IsProfilePublic" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField" resourceClassId="ForumsResources" hidden="False" fieldName="IsProfilePublic" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element enabled="False" selected="False" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
						</sections>
					</sections>
				</view>
				<view viewName="ViewBackendView">
					<sections>
						<sections name="CustomFieldsSection">
							<fields>
								<field rows="1" id="postsCountField" dataFieldName="PostsCount" displayMode="Write" wrapperTag="Li" title="PostsCount" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField" resourceClassId="ForumsResources" hidden="True" fieldName="PostsCount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="isPublicProfileField" dataFieldName="IsProfilePublic" displayMode="Write" wrapperTag="Li" title="IsProfilePublic" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField" resourceClassId="ForumsResources" hidden="False" fieldName="IsProfilePublic" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element enabled="False" selected="False" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
						</sections>
					</sections>
				</view>
				<view viewName="ViewBackendOwnEdit">
					<sections>
						<sections name="CustomFieldsSection">
							<fields>
								<field rows="1" id="postsCountField" dataFieldName="PostsCount" displayMode="Write" wrapperTag="Li" title="PostsCount" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField" resourceClassId="ForumsResources" hidden="True" fieldName="PostsCount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="isPublicProfileField" dataFieldName="IsProfilePublic" displayMode="Write" wrapperTag="Li" title="IsProfilePublic" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField" resourceClassId="ForumsResources" hidden="False" fieldName="IsProfilePublic" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element enabled="False" selected="False" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
						</sections>
					</sections>
				</view>
			</views>
		</contentViewControl>
		<config:link definitionName="SearchBackend" path="searchConfig/contentViewControls/SearchBackend" module="Search" />
		<config:link definitionName="NewsBackend" path="newsConfig/contentViewControls/NewsBackend" module="News" />
		<config:link definitionName="NewsCommentsBackend" path="newsConfig/contentViewControls/NewsCommentsBackend" module="News" />
		<config:link definitionName="NewsFrontend" path="newsConfig/contentViewControls/NewsFrontend" module="News" />
		<config:link definitionName="NewsCommentsFrontend" path="newsConfig/contentViewControls/NewsCommentsFrontend" module="News" />
		<config:link definitionName="BlogsBackend" path="blogsConfig/contentViewControls/BlogsBackend" module="Blogs" />
		<config:link definitionName="BlogsCommentsBackend" path="blogsConfig/contentViewControls/BlogsCommentsBackend" module="Blogs" />
		<config:link definitionName="BlogsCommentsFrontend" path="blogsConfig/contentViewControls/BlogsCommentsFrontend" module="Blogs" />
		<config:link definitionName="PostsBackend" path="blogsConfig/contentViewControls/PostsBackend" module="Blogs" />
		<config:link definitionName="BlogPostsFrontend" path="blogsConfig/contentViewControls/BlogPostsFrontend" module="Blogs" />
		<config:link definitionName="EventsBackend" path="eventsConfig/contentViewControls/EventsBackend" module="Events" />
		<config:link definitionName="EventsCommentsBackend" path="eventsConfig/contentViewControls/EventsCommentsBackend" module="Events" />
		<config:link definitionName="EventsCommentsFrontend" path="eventsConfig/contentViewControls/EventsCommentsFrontend" module="Events" />
		<config:link definitionName="EventsFrontend" path="eventsConfig/contentViewControls/EventsFrontend" module="Events" />
		<config:link definitionName="BlobStorageBackend" path="librariesConfig/contentViewControls/BlobStorageBackend" module="Libraries" />
		<config:link definitionName="AlbumsBackend" path="librariesConfig/contentViewControls/AlbumsBackend" module="Libraries" />
		<config:link definitionName="ImagesBackend" path="librariesConfig/contentViewControls/ImagesBackend" module="Libraries" />
		<config:link definitionName="LibraryImagesBackend" path="librariesConfig/contentViewControls/LibraryImagesBackend" module="Libraries" />
		<config:link definitionName="ImagesFrontend" path="librariesConfig/contentViewControls/ImagesFrontend" module="Libraries" />
		<config:link definitionName="ImagesCommentsFrontend" path="librariesConfig/contentViewControls/ImagesCommentsFrontend" module="Libraries" />
		<config:link definitionName="DocumentsBackend" path="librariesConfig/contentViewControls/DocumentsBackend" module="Libraries" />
		<config:link definitionName="BackendLibraryDocumentsList" path="librariesConfig/contentViewControls/BackendLibraryDocumentsList" module="Libraries" />
		<config:link definitionName="BackendLibraryDocuments" path="librariesConfig/contentViewControls/BackendLibraryDocuments" module="Libraries" />
		<config:link definitionName="FrontendDocuments" path="librariesConfig/contentViewControls/FrontendDocuments" module="Libraries" />
		<config:link definitionName="VideosBackend" path="librariesConfig/contentViewControls/VideosBackend" module="Libraries" />
		<config:link definitionName="LibraryVideoBackend" path="librariesConfig/contentViewControls/LibraryVideoBackend" module="Libraries" />
		<config:link definitionName="BackendLibraryVideoList" path="librariesConfig/contentViewControls/BackendLibraryVideoList" module="Libraries" />
		<config:link definitionName="VideosFrontend" path="librariesConfig/contentViewControls/VideosFrontend" module="Libraries" />
		<config:link definitionName="UserFilesBackend" path="librariesConfig/contentViewControls/UserFilesBackend" module="Libraries" />
		<config:link definitionName="BackendUserFileLibraryDocuments" path="librariesConfig/contentViewControls/BackendUserFileLibraryDocuments" module="Libraries" />
		<config:link definitionName="FormsBackend" path="formsConfig/contentViewControls/FormsBackend" module="Forms" />
		<config:link definitionName="FormsFrontend" path="formsConfig/contentViewControls/FormsFrontend" module="Forms" />
		<config:link definitionName="ListsBackend" path="listsConfig/contentViewControls/ListsBackend" module="Lists" />
		<config:link definitionName="ItemsBackend" path="listsConfig/contentViewControls/ItemsBackend" module="Lists" />
		<config:link definitionName="ListsCommentsFrontend" path="listsConfig/contentViewControls/ListsCommentsFrontend" module="Lists" />
		<config:link definitionName="ContentBackend" path="contentConfig/contentViewControls/ContentBackend" module="GenericContent" />
		<config:link definitionName="ContentCommentsBackend" path="contentConfig/contentViewControls/ContentCommentsBackend" module="GenericContent" />
		<config:link definitionName="ContentCommentsFrontend" path="contentConfig/contentViewControls/ContentCommentsFrontend" module="GenericContent" />
		<config:link definitionName="GenericContentFrontend" path="contentConfig/contentViewControls/GenericContentFrontend" module="GenericContent" />
		<config:link definitionName="ControlTemplatesBackend" path="controlTemplatesConfig/contentViewControls/ControlTemplatesBackend" module="ControlTemplates" />
		<config:link definitionName="ProductTypesBackendDefinitionName" path="catalogConfig/contentViewControls/ProductTypesBackendDefinitionName" module="Ecommerce" />
		<config:link definitionName="ProductsBackendDefinitionName" path="catalogConfig/contentViewControls/ProductsBackendDefinitionName" module="Ecommerce" />
		<config:link definitionName="CatalogProductsFrontend" path="catalogConfig/contentViewControls/CatalogProductsFrontend" module="Ecommerce" />
		<config:link definitionName="ProductAttributeBackendDefinition" path="catalogConfig/contentViewControls/ProductAttributeBackendDefinition" module="Ecommerce" />
		<config:link definitionName="ProductAttributeValueBackendDefinition" path="catalogConfig/contentViewControls/ProductAttributeValueBackendDefinition" module="Ecommerce" />
		<config:link definitionName="ProductVariationBackendDefinition" path="catalogConfig/contentViewControls/ProductVariationBackendDefinition" module="Ecommerce" />
		<config:link definitionName="CustomersBackend" path="orderConfig/contentViewControls/CustomersBackend" module="Ecommerce" />
		<config:link definitionName="PaymentMethodBackendDefinition" path="orderConfig/contentViewControls/PaymentMethodBackendDefinition" module="Ecommerce" />
		<config:link definitionName="StoreSettingsBackend" path="orderConfig/contentViewControls/StoreSettingsBackend" module="Ecommerce" />
		<config:link definitionName="OrdersBackend" path="orderConfig/contentViewControls/OrdersBackend" module="Ecommerce" />
		<config:link definitionName="DiscountBackendDefinition" path="orderConfig/contentViewControls/DiscountBackendDefinition" module="Ecommerce" />
		<config:link definitionName="TaxBackendDefinition" path="orderConfig/contentViewControls/TaxBackendDefinition" module="Ecommerce" />
		<config:link definitionName="TaxClassBackendDefinition" path="orderConfig/contentViewControls/TaxClassBackendDefinition" module="Ecommerce" />
		<config:link definitionName="ShippingBackendDefinition" path="shippingConfig/contentViewControls/ShippingBackendDefinition" module="Ecommerce" />
		<config:link definitionName="RulesGroupBackend" path="responsiveDesignConfig/contentViewControls/RulesGroupBackend" module="ResponsiveDesign" />
		<config:link definitionName="PublishingBackend" path="publishingConfig/contentViewControls/PublishingBackend" module="Publishing" />
		<config:link definitionName="TwitterBackend" path="publishingConfig/contentViewControls/TwitterBackend" module="Publishing" />
		<config:link definitionName="TwitterUrlShorteningSettings" path="publishingConfig/contentViewControls/TwitterUrlShorteningSettings" module="Publishing" />
		<config:link definitionName="ForumsBackend" path="forumsConfig/contentViewControls/ForumsBackend" module="Forums" />
		<config:link definitionName="ForumGroupsBackend" path="forumsConfig/contentViewControls/ForumGroupsBackend" module="Forums" />
		<config:link definitionName="ForumsFrontend" path="forumsConfig/contentViewControls/ForumsFrontend" module="Forums" />
		<config:link definitionName="ForumThreadsBackend" path="forumsConfig/contentViewControls/ForumThreadsBackend" module="Forums" />
		<config:link definitionName="ForumPostsBackend" path="forumsConfig/contentViewControls/ForumPostsBackend" module="Forums" />
		<config:link definitionName="SynchronizationBackend" path="siteSyncConfig/contentViewControls/SynchronizationBackend" module="Synchronization" />
	</contentViewControls>
	<sortingExpressionSettings>
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Image" sortingExpressionTitle="NewUploadedFirst" sortingExpression="DateCreated DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Image" sortingExpressionTitle="NewModifiedFirst" sortingExpression="LastModified DESC" />
		<add isCustom="True" contentType="Telerik.Sitefinity.Libraries.Model.Image" sortingExpressionTitle="Custom Sorting..." sortingExpression="Custom" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Video" sortingExpressionTitle="NewUploadedFirst" sortingExpression="DateCreated DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Video" sortingExpressionTitle="NewModifiedFirst" sortingExpression="LastModified DESC" />
		<add isCustom="True" contentType="Telerik.Sitefinity.Libraries.Model.Video" sortingExpressionTitle="Custom Sorting..." sortingExpression="Custom" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Document" sortingExpressionTitle="NewUploadedFirst" sortingExpression="DateCreated DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Document" sortingExpressionTitle="NewModifiedFirst" sortingExpression="LastModified DESC" />
		<add isCustom="True" contentType="Telerik.Sitefinity.Libraries.Model.Document" sortingExpressionTitle="Custom Sorting..." sortingExpression="Custom" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Forms.Model.FormEntry" sortingExpressionTitle="FirstSubmittedOnTop" sortingExpression="SubmittedOn ASC" resourceClassId="FormsResources" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Forms.Model.FormEntry" sortingExpressionTitle="LastSubmittedOnTop" sortingExpression="SubmittedOn DESC" resourceClassId="FormsResources" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Pages.Model.PresentationData" sortingExpressionTitle="NewCreatedOnTop" sortingExpression="DateCreated DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Pages.Model.PresentationData" sortingExpressionTitle="NewModifiedOnTop" sortingExpression="LastModified DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Pages.Model.PresentationData" sortingExpressionTitle="ByWidgets" sortingExpression="FriendlyControlName ASC" />
		<add isCustom="True" contentType="Telerik.Sitefinity.Pages.Model.PresentationData" sortingExpressionTitle="CustomSorting" sortingExpression="Custom" />
	</sortingExpressionSettings>
</contentViewConfig>