<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0" initialized="True">
	<connectionStrings>
		<add connectionString="data source=.\sqlexpress;Integrated Security=SSPI;initial catalog=PowerTools" providerName="System.Data.SqlClient" dbType="MsSql" name="Sitefinity" />
	</connectionStrings>
	<urlEvaluators>
		<add description="ProductTypeFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.ProductTypeFilterUrlEvaluator" enabled="True" name="ProductTypeFilter" />
		<add description="PriceFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.PriceFilterUrlEvaluator" enabled="True" name="PriceFilter" />
		<add description="DepartmentFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.DepartmentFilterUrlEvaluator" enabled="True" name="DepartmentFilter" />
		<add description="TagFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.TagFilterUrlEvaluator" enabled="True" name="TagFilter" />
		<add description="ClassificationFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.ClassificationFilterUrlEvaluator" enabled="True" name="ClassificationFilter" />
		<add description="ForumsEvaluatorDescription" resourceClassId="ForumsResources" type="Telerik.Sitefinity.Forums.Web.ForumsEvaluator" enabled="True" name="Forums" />
	</urlEvaluators>
</dataConfig>