<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<notifications formEntrySubmittedNotificationTemplateId="f11cd2b0-ace7-4f6e-aab0-2004fa4f0bbd" />
</formsConfig>