<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<notifications newPostNotificationTemplateId="41e16340-d8ac-4fc5-a6d1-4ea395b54152" newThreadNotificationTemplateId="ecf749fc-9e3e-4731-8b3b-0e01dcc95891" />
</forumsConfig>