<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<notifications newPostNotificationTemplateId="3bbb1510-b9bc-4b87-90f6-5dc4668b2ae5" newThreadNotificationTemplateId="adceb771-e605-4509-92c8-47a528b8b624" />
</forumsConfig>