<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0" build="3800">
	<applicationModules>
		<add version="5.2.3800.0" name="Multisite" />
		<add version="5.2.3800.0" name="Search" />
		<add version="5.2.3800.0" name="News" />
		<add version="5.2.3800.0" name="Blogs" />
		<add version="5.2.3800.0" name="Events" />
		<add version="5.2.3800.0" name="Libraries" />
		<add version="5.2.3800.0" name="Forms" />
		<add version="5.2.3800.0" name="Lists" />
		<add version="5.2.3800.0" name="Analytics" />
		<add version="5.2.3800.0" name="Scheduling" />
		<add version="5.2.3800.0" name="Newsletters" />
		<add version="5.2.3800.0" name="GenericContent" />
		<add version="5.2.3800.0" name="ControlTemplates" />
		<add version="5.2.3800.0" name="Migration" />
		<add version="5.2.3800.0" name="Ecommerce" />
		<add version="5.2.3800.0" name="ModuleBuilder" />
		<add version="5.2.3800.0" name="ResponsiveDesign" />
		<add version="5.2.3800.0" name="Publishing" />
		<add version="5.2.3800.0" name="Forums" />
		<add version="5.2.3800.0" name="Synchronization" />
		<add version="5.2.3800.0" name="Thunder" />
		<add version="5.2.3800.0" name="Personalization" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductTypeFilterWidgetDefinitionElement" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement" />
			</implementations>
		</add>
	</typeImplementationsMapping>
</systemConfig>