<?xml version="1.0" encoding="utf-8"?>
<workflowConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<workflowsTypes>
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="NewsTitle" resourceClassId="NewsResources" moduleName="News" contentType="Telerik.Sitefinity.News.Model.NewsItem" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="BlogsTitle" resourceClassId="BlogResources" moduleName="Blogs" contentType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="ModuleTitle" resourceClassId="EventsResources" moduleName="Events" contentType="Telerik.Sitefinity.Events.Model.Event" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="Lists" resourceClassId="ListsResources" moduleName="Lists" contentType="Telerik.Sitefinity.Lists.Model.ListItem" />
	</workflowsTypes>
</workflowConfig>